In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
a = [1, 2, 3]
b=a
a.append(4)
b

[1, 2, 3, 4]

In [5]:
def append_element(some_list, element):
    some_list.append(element)
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [6]:
a = 5
type(a)

int

In [7]:
a='foo'
type(a)

str

In [11]:
a=5
isinstance(a,str)

False

In [9]:
a = 5; b = 4.5;
isinstance(a, (int, float))

True

In [10]:
isinstance(b, (int, float))

True

In [12]:
a='foo'

In [13]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False
isiterable('a string')

True

In [14]:
isiterable([1, 2, 3])

True

In [15]:
isiterable(5)

False

In [1]:
import some_module as sm
result = sm.f(5) 
print(result)
pi = sm.PI
print(pi)

7
3.14159

In [65]:
from some_module import f, g, PI 
result = g(5, PI)
print(result)

8.14159

In [17]:
import some_module as sm 
from some_module import PI as pi, g as gf

r1 = sm.f(pi) 
print(r1)
r2 = gf(6, pi)
print(r2)

5.14159
9.14159

#### Binary operators and comparisons

In [18]:
5 - 7
12 + 21.5
5 <= 2

-2

33.5

False

In [19]:
a = [1, 2, 3]
b = a
c = list(a)
a is b

True

In [20]:
a is not c

True

In [21]:
a == c

True

In [22]:
a = None
a is None

True

#### Mutable and immutable objects

In [23]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [24]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Scalar Types

#### Numeric types

In [27]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721L

In [75]:
fval = 7.243
fval2 = 6.78e-5

In [28]:
3./2

1.5

In [77]:
3 // 2

1

#### Strings

In [30]:
a = 'one way of writing a string' 
b = "another way"
c = """
This is a longer string that
spans multiple lines
"""

In [31]:
c.count('\n')

3

In [32]:
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [33]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [34]:
a

'this is a string'

In [36]:
a = 5.6
type(a)
s = str(a)
type(s)
print(s)

float

str

5.6

In [37]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [41]:
s[3:] #slicing

'hon'

In [44]:
s = '12\\34' #The backslash character \ is an escape character
print(s)

12\34

In [45]:
s = r'this\has\no\special\characters' #you can preface the leading quote of the string with r, r=raw
s

'this\\has\\no\\special\\characters'

In [46]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [52]:
template = '{0:2.3f} {1:s} are worth US${2:d}'

In [53]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.556 Argentine Pesos are worth US$1'

#### Booleans

In [54]:
True and True

True

In [57]:
(2>1) or (3>4)

True

#### Type casting

In [58]:
s = '3.14159'
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

float

3

True

False

#### None

In [59]:
a = None
a is None
b = 5
b is not None

True

True

In [60]:
def add_and_maybe_multiply(a, b, c=None): 
    result = a + b
    if c is not None:
        result = result * c
    return result

add_and_maybe_multiply(5,6)
add_and_maybe_multiply(5,6,2)

11

22

In [61]:
type(None)

NoneType

#### Dates and times

In [63]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

29

30

In [64]:
dt.date()
dt.time()

datetime.date(2011, 10, 29)

datetime.time(20, 30, 21)

In [67]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [69]:
datetime.strptime('20091031', '%Y%m%d') #Strings can be converted (parsed) into datetime objects

datetime.datetime(2009, 10, 31, 0, 0)

In [70]:
dt.replace(minute=10, second=29) #replace time fields

datetime.datetime(2011, 10, 29, 20, 10, 29)

In [72]:
#The difference of two datetime objects produces a datetime.timedelta type
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta #17 days and 7,179 seconds.
type(delta)

datetime.timedelta(17, 7179)

datetime.timedelta

In [73]:
dt
dt + delta

datetime.datetime(2011, 10, 29, 20, 30, 21)

datetime.datetime(2011, 11, 15, 22, 30)