In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Control Flow

#### if, elif, and else

In [4]:
x=-10
if x < 0:
    print('It is negative')

It is negative

In [5]:
x=7
if x < 0:
    print('It is negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

Positive and larger than or equal to 5

In [6]:
#With a compound condition using and or or,
#conditions are evaluated left to right and will short-circuit:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d: #comparison c > d never gets evaluated because the first comparison was True.
    print('Made it')

Made it

In [7]:
#It is also possible to chain comparisons:
4 > 3 > 2 > 1

True

#### for loops

for value in collection:
    # do something with value

In [8]:
#continue keyword
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    print(value)
    total += value

1
2
4
5

In [10]:
#break
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 4:
        break
    print(value)
    total_until_5 += value

1
2
0

In [11]:
#The break keyword only terminates the innermost for loop; any outer for loops will continue to run:

for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

for a, b, c in iterator:
    # do something

#### while loops

In [12]:
#while loop
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    print(total)
    total += x
    x = x // 2

0
256
384
448
480
496

#### pass

In [14]:
x=0
if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

#### range

In [11]:
range(10)
list(range(10))

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[5, 4, 3, 2, 1]

In [13]:
#A common use of range is for iterating through sequences by index:
seq = [10, 20, 30, 40] 
for i in range(len(seq)):
    val = seq[i]
    print(val)

10
20
30
40

In [14]:
#sum all the numbers from 0 to 99,999 that are multiples of 3 as well as 5:
sum = 0
for i in range(100):
    # % is the modulo operator
    if i % 3 == 0 and i % 5 == 0:
        print(i)
        sum += i
        
print(sum)

0
15
30
45
60
75
90
315

#### Ternary expressions

In [15]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

#The above line is equivalent to the following

if x>=0:
    value='Non-negative'
else:
    value='Negative'
value

'Non-negative'

'Non-negative'

#### Python Input and Output

In [16]:
input()

i am learning python

'i am learning python'

In [19]:
# take an input and assign it to a variable 
beautiful_number = input() # The data you key in the next line which is 6 will be assigned to beautiful_number

6

In [20]:
print(beautiful_number) # the next line will print the value in beautiful_number after you press enter or return

6

In [17]:
#helpful hint
beautiful_number = input("tell me a beautiful number ")

tell me a beautiful number 10

In [18]:
print(beautiful_number)

10

In [40]:
num = input('Enter a number: ')
num
a=5+num

Enter a number: 6

'6'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [43]:
a=5+int(num)
print(a)

11

In [58]:
a=int('2+3')

ValueError: invalid literal for int() with base 10: '2+3'

In [59]:
a=eval('2+3');print(a)

5

In [21]:
print("hi there")
a=2
print("Value of the number is "+str(a))

hi there
Value of the number is 2

In [44]:
print("5"*6)

555555

In [45]:
print(5,6,7)

5 6 7

In [46]:
print('LOVE', 30, 82.2)

LOVE 30 82.2

In [47]:
print('LOVE', 30, 82.2, sep=',')

LOVE,30,82.2

In [48]:
print('LOVE', 30, 82.2, sep=',', end='!!\n')

LOVE,30,82.2!!

In [49]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [50]:
for i in "python":
    print(i, end=":")

p:y:t:h:o:n:

In [51]:
#Printing the result of a calculation
population = 7
print("Population in 2050: ", population * 1.28)

Population in 2050:  8.96

In [52]:
#Output formatting
x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [53]:
print('I love {0} and {1}'.format('bread','butter'))

I love bread and butter

In [54]:
print('I love {1} and {0}'.format('bread','butter'))

I love butter and bread

In [55]:
print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name = 'John'))

Hello John, Goodmorning

In [56]:
x = 12.3456789
print('The value of x is %3.2f' %x)
print('The value of x is %3.4f' %x)

The value of x is 12.35
The value of x is 12.3457

In [70]:
print('The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred',other='Georg'))

The story of Bill, Manfred, and Georg.

In [71]:
contents = 'eels'
print('My hovercraft is full of {}.'.format(contents))
print('My hovercraft is full of {!r}.'.format(contents))

My hovercraft is full of eels.
My hovercraft is full of 'eels'.

#### repr and str

In [61]:
s = 'Hello, world.'
str(s)
repr(s)

'Hello, world.'

"'Hello, world.'"

In [62]:
str(1/7)

'0.14285714285714285'

In [63]:
x = 10 * 3.25
y = 200 * 200
s = 'The value of x is ' + repr(x) + ', and y is ' + repr(y) + '...'
print(s)

The value of x is 32.5, and y is 40000...

In [64]:
# The repr() of a string adds string quotes and backslashes:
hello = 'hello, world\n'
hellos = repr(hello)
print(hellos)

'hello, world\n'

In [65]:
# The argument to repr() may be any Python object:
repr((x, y, ('spam', 'eggs')))

"(32.5, 40000, ('spam', 'eggs'))"

In [67]:
for x in range(1, 11):
    print(repr(x).rjust(2), repr(x*x).rjust(3), end=' ')
    # Note use of 'end' on previous line
    print(repr(x*x*x).rjust(4))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [68]:
for x in range(1, 11):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [69]:
'12'.zfill(5)
'-3.14'.zfill(7)
'3.14159265359'.zfill(5)

'00012'

'-003.14'

'3.14159265359'

In [72]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print('{0:10} ==> {1:10d}'.format(name, phone))

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678

In [73]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; '
      'Dcab: {0[Dcab]:d}'.format(table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678