# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [21]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

tup = 4, 5, 6
tup
tup2=(4,5,6)
tup2
tup1=()
tup1

(4, 5, 6)

(4, 5, 6)

()

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0, 2])
tup = tuple('string')
tup

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup[0]

's'

In [5]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [6]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [7]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [8]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [25]:
#deleting tuple
tup = ('physics', 'chemistry', 1997, 2000);
print(tup);
del tup;
print("After deleting tup : ");
print(tup);

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

#### Unpacking tuples

In [9]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [10]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [11]:
#Swapping a and b in Python
a, b = 1, 2
a
b
b, a = a, b
a
b

1

2

2

1

In [12]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [16]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
rest

(1, 2)

[3, 4, 5]

In [17]:
a, b, *_ = values

#### Tuple methods

In [29]:
def cmp(a, b):
    return (a > b) - (a < b)
tuple1, tuple2 = (123, 'xyz'), (456, 'abc')
print(cmp(tuple1, tuple2))
print(cmp(tuple2, tuple1))
tuple3 = tuple2 + (789,);
print(cmp(tuple2, tuple3))

-1
1
-1

In [32]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print("First tuple length : ", len(tuple1))
print("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

In [33]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [38]:
tuple1, tuple2 = ('xyz', 'zara', 'abc'), (456, 700, 200)
print("Max value element : ", max(tuple1))
print("Max value element : ", max(tuple2))

tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("Min value element : ", min(tuple1))
print ("Min value element : ", min(tuple2))

Max value element :  zara
Max value element :  700
Min value element :  bio
Min value element :  200

In [39]:
list1= ['maths', 'che', 'phy', 'bio']
tuple1=tuple(list1)
print ("tuple elements : ", tuple1)

tuple elements :  ('maths', 'che', 'phy', 'bio')

### List

In [40]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

['foo', 'bar', 'baz']

['foo', 'peekaboo', 'baz']

In [41]:
gen = range(10)
gen
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [42]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [43]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [44]:
b_list.pop(2)
b_list

'peekaboo'

['foo', 'red', 'baz', 'dwarf']

In [45]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

['red', 'baz', 'dwarf', 'foo']

In [64]:
list = ['physics', 'chemistry', 1997, 2000]
print (list)
del list[2]
print ("After deleting value at index 2 : ", list)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :  ['physics', 'chemistry', 2000]

In [46]:
'dwarf' in b_list

True

In [47]:
'dwarf' not in b_list

False

#### Concatenating and combining lists

In [48]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [49]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sorting

In [32]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [33]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [3]:
  ## Say we have a list of strings we want to sort
  #by the last letter of the string.
  strs = ['xc', 'zb', 'yd' ,'wa']

  ## Write a little function that takes a string, and returns its last letter.
  ## This will be the key function (takes in 1 value, returns 1 value).
  def MyFn(s):
    return s[-1]

  ## Now pass key=MyFn to sorted() to sort by the last letter:
  print(sorted(strs, key=MyFn))  ## ['wa', 'zb', 'xc', 'yd']

['wa', 'zb', 'xc', 'yd']

#### Binary search and maintaining a sorted list

In [50]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

4

6

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [51]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [52]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [53]:
seq[:5]
seq[3:]

[7, 2, 3, 6, 3]

[6, 3, 5, 6, 0, 1]

In [54]:
seq[-4:]
seq[-6:-2]

[5, 6, 0, 1]

[6, 3, 5, 6]

In [55]:
seq[::2]

[7, 3, 3, 6, 1]

In [56]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

In [60]:
i = 0
for value in seq:
   print(str(i)+":"+str(value))
   i += 1

0:7
1:2
2:3
3:6
4:3
5:5
6:6
7:0
8:1

In [61]:
for i, value in enumerate(seq):
   print(str(i)+":"+str(value))

0:7
1:2
2:3
3:6
4:3
5:5
6:6
7:0
8:1

In [62]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

#### sorted

In [42]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

[0, 1, 2, 2, 3, 6, 7]

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [43]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [44]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [45]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [46]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Nolan', 'Roger', 'Schilling')

('Ryan', 'Clemens', 'Curt')

#### reversed

In [47]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [116]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [117]:
d1[7] = 'an integer'
d1
d1['b']
d1['c']

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

KeyError: 'c'

In [92]:
d1
'b' in d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

True

In [93]:
del d1[7]
d1
ret = d1.pop('b')
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

[1, 2, 3, 4]

{'a': 'some value'}

In [119]:
mydict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("Age: ", mydict['Age'])
del mydict['Name'] # remove entry with key 'Name'
print ("Name: ", mydict['Name'])

Age:  7

KeyError: 'Name'

In [120]:
mydict.clear()     # remove all entries in dict
mydict
del mydict         # delete entire dictionary
mydict

{}

NameError: name 'mydict' is not defined

In [94]:
d1['b']='val'
d1.keys()
d1.values()

dict_keys(['a', 'b'])

dict_values(['some value', 'val'])

In [85]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

#### Creating dicts from sequences

In [ ]:
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [95]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [ ]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

In [ ]:
value = some_dict.get(key, default_value)

In [97]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter1 = {}
for word in words:
    letter = word[0]
    if letter not in by_letter1:
        by_letter1[letter] = [word]
    else:
        by_letter1[letter].append(word)
by_letter1

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [100]:
by_letter2 = {}
for word in words:
    letter = word[0]
    by_letter2.setdefault(letter, []).append(word)
by_letter2

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [112]:
from collections import defaultdict
by_letter3 = defaultdict(lambda: [])
for word in words:
    by_letter3[word[0]].append(word)
by_letter3

defaultdict(<function __main__.<lambda>>,
            {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [126]:
dict1 = {'Name': 'M', 'Age': 7, 'Class': 'First'}
dict2 = dict1.copy()
dict2['Age']=20
dict1
dict2

{'Age': 7, 'Class': 'First', 'Name': 'M'}

{'Age': 20, 'Class': 'First', 'Name': 'M'}

In [122]:
seq = ('name', 'age', 'Gender')
dict = dict.fromkeys(seq)
print ("New Dictionary : %s" %  str(dict))
dict = dict.fromkeys(seq, 10)
print ("New Dictionary : %s" %  str(dict))

New Dictionary : {'name': None, 'age': None, 'Gender': None}
New Dictionary : {'name': 10, 'age': 10, 'Gender': 10}

In [124]:
dict = {'Name': 'Z', 'Age': 7}
print ("Value : %s" %  dict.items())

dict = {'Name': 'Z', 'Age': 27}
print ("Value : %s" %  dict.get('Age'))
print ("Value : %s" %  dict.get('Gender', "NA"))
print ("Value : %s" %  dict.setdefault('Gender', None))
print (dict)

Value : dict_items([('Name', 'Z'), ('Age', 7)])
Value : 27
Value : NA
Value : None
{'Name': 'Z', 'Age': 27, 'Gender': None}

#### Valid dict key types

In [113]:
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

534168794087765146

1097636502276347782

TypeError: unhashable type: 'list'

In [114]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set

In [127]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

{1, 2, 3}

In [128]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [129]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [130]:
a.intersection(b)
a & b

{3, 4, 5}

{3, 4, 5}

In [131]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{1, 2, 3, 4, 5, 6, 7, 8}

{3, 4, 5}

In [134]:
my_data = [1, 2, 3, 4]
my_set = {my_data}

TypeError: unhashable type: 'list'

In [135]:
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [136]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

True

In [137]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

In [138]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [141]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [142]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [143]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [144]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [146]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [147]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [148]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [150]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]