In [ ]:
Question 2: [a]

In [27]:
# Python code to demonstrate
# addition of two list
# naive method

# initializing lists
test_list1 = [1, 2, 3, 4, 5]
test_list2 = [0, 3, 5, 7, 8]

# printing original lists
print ("Original list 1 : " + str(test_list1))
print ("Original list 2 : " + str(test_list2))

# using naive method to
# add two list
res_list = []
for i in range(0, len(test_list1)):
	res_list.append(test_list1[i] + test_list2[i])

# printing resultant list
print ("Resultant list is : " + str(res_list))

Original list 1 : [1, 2, 3, 4, 5]
Original list 2 : [0, 3, 5, 7, 8]
Resultant list is : [1, 5, 8, 11, 13]

In [ ]:
Question 2: [b]

In [29]:
# Python3 code to demonstrate
# to generate random number list
# using list comprehension + randrange()
import random

# using list comprehension + randrange()
# to generate random number list
res = [random.randrange(1, 10,000, 1) for i in range(10,000)]

# printing result
print ("Random number list is : " + str(res))

Random number list is : []

In [ ]:
Question 2: [c]

In [30]:
# importing the module
import tracemalloc

# code or function for which memory
# has to be monitored
def app():
	lt = []
	for i in range(0, 100000):
		lt.append(i)

# starting the monitoring
tracemalloc.start()

# function call
app()

# displaying the memory
print(tracemalloc.get_traced_memory())

# stopping the library
tracemalloc.stop()

(377, 3617623)

In [ ]:
Question 1:

In [32]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [ ]:
Question 3: [a , b, d ,f]

In [33]:
from google.colab import files
upload = files.upload()

Saving Product.csv to Product (2).csv

In [34]:
import pandas as pd
import numpy as np
import matplotlib as plt
#Reading the dataset in a dataframe using Pandas
df = pd.read_csv("Product.csv")

In [35]:
df.head(10)

   233    21 LongSleeve Logo Jersey  L    29.0807   Multi  48.0673   28.8404
0  196   NaN            LL SpindleAxle        NaN     NaN      NaN       NaN
1   65   NaN                 Hex Nut 1        NaN     NaN      NaN       NaN
2  347   1.0    Mountain100 Silver  48  1912.1544  Silver  3399.99  2039.994
3  137   NaN                Lock Nut 4        NaN     NaN      NaN       NaN
4  155   NaN               Metal Angle        NaN     NaN      NaN       NaN
5  211  14.0    HL Road Frame  Red  58        NaN     Red      NaN       NaN
6   98   NaN    Internal Lock Washer 1        NaN     NaN      NaN       NaN
7  447  34.0                Cable Lock    10.3125     NaN    25.00    15.000
8  562   3.0    Touring1000 Yellow  50  1481.9379  Yellow  2384.07  1430.442
9  185   NaN               HL Road Rim        NaN     NaN      NaN       NaN

In [49]:
df.shape

(37, 3)

In [50]:
df.dtypes

Subcategory ID       int64
Subcategory name    object
Category ID          int64
dtype: object

In [57]:
df.apply(lambda x: sum(x.isnull()),axis=0)

Subcategory ID      0
Subcategory name    0
Category ID         0
dtype: int64

In [36]:
from google.colab import files
upload = files.upload()

Saving ProductCategory.csv to ProductCategory (1).csv

In [37]:
import pandas as pd
import numpy as np
import matplotlib as plt
#Reading the dataset in a dataframe using Pandas
df = pd.read_csv("ProductCategory.csv")

In [38]:
df.head(10)

   Category ID Category name
0            2    Components
1            3      Clothing
2            4   Accessories
3            1         Bikes

In [43]:
df.shape

(37, 3)

In [51]:
df.dtypes

Subcategory ID       int64
Subcategory name    object
Category ID          int64
dtype: object

In [55]:
df.apply(lambda x: sum(x.isnull()),axis=0)

Subcategory ID      0
Subcategory name    0
Category ID         0
dtype: int64

In [39]:
from google.colab import files
upload = files.upload()

Saving ProductSubcategory.csv to ProductSubcategory (1).csv

In [40]:
import pandas as pd
import numpy as np
import matplotlib as plt
#Reading the dataset in a dataframe using Pandas
df = pd.read_csv("ProductSubcategory.csv")

In [41]:
df.head(10)

   Subcategory ID Subcategory name  Category ID
0              27      Bike Stands            4
1              35         Panniers            4
2              23            Socks            3
3              11         Headsets            2
4              32  Hydration Packs            4
5              20           Gloves            3
6               8        Cranksets            2
7              16   Touring Frames            2
8              29         Cleaners            4
9              37  Tires and Tubes            4

In [44]:
df.shape

(37, 3)

In [52]:
df.dtypes

Subcategory ID       int64
Subcategory name    object
Category ID          int64
dtype: object

In [56]:
df.apply(lambda x: sum(x.isnull()),axis=0)

Subcategory ID      0
Subcategory name    0
Category ID         0
dtype: int64